<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>金桥管理系统1</title>
    <link rel="stylesheet" href="stylesheets/jquery-ui.min.css"/>
    <link rel="stylesheet" href="stylesheets/blue.css"/>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <link rel="stylesheet" href="stylesheets/scroll.css"/>
    <link rel="stylesheet" href="stylesheets/menu.css"/>
    <link rel="stylesheet" href="stylesheets/Test.css"/>
    <script type="text/javascript" src="framework/jquery/jquery1.11.0/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="framework/jquery/jquery1.11.0/jquery-ui.min.js"></script>
    <script type="text/javascript" src="framework/jquery/jquery1.11.0/icheck.min.js"></script>
    <script type="text/javascript" src="framework/bootstrap/bootstrap2/js/bootstrap.min.js"></script>        
    <script type="text/javascript" src="javascripts/async.js"></script>
    <script type="text/javascript" src="javascripts/layout.js"></script>
    <script type="text/javascript" src="javascripts/common.js"></script>
    <script type="text/javascript" src="framework/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="framework/backbone/backbone1.3.3/backbone.js"></script>
    
    <!-- <script src="javascripts/index.js" type="text/javascript"></script>
    <script src="javascripts/filter.js" type="text/javascript"></script>
    <script src="javascripts/page.js" type="text/javascript"></script> -->

    <script src="js/frame/util.js"></script>
    <script src="js/users/model/userModel.js"></script>
    <script src="js/users/view/usersView.js"></script>
    <script src="js/users/view/userItemView.js"></script>
    <script src="js/index/view/indexView.js"></script>
    <!-- <script type="text/javascript">
        function forward(url) {
            $("#isignatureModal").modal("show");
        }
    </script> -->
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="logobg logo">
                <span style='font-size:35px;color:white;margin:5px 0 0 10px;'>GBMANAGEMENT</span>
                <span style="font-size:20px;color:white;">管理系统</span>
                <ul style="margin-right:50px;" class="navbar-nav nav navbar-left pull-right">
                    <div data-toggle="modal" data-target="#userModal" data-backdrop="static" style="color:white;cursor:pointer;" class="navbar-brand navbarnav">用户名：xxx</div>
                    <div onclick="location.href=&#39;/login&#39;" style="color:white;cursor:pointer;" class="navbar-brand navbarn">注销</div>
                </ul>
            </div> -->
            <!-- <div class = "col-sm-2 mp0" style='position: fixed;left:0;top:66px;'>
                <div class="col-sm-9 mp0">
                    <ul id="contain" class="menu text-center">
                        <li>
                            <a id="meeting" href="/signatureInfo">菜单1</a>
                        </li>
                        <li>
                            <a id="meeting" href="/meeting">菜单2</a>
                        </li>
                        <li>
                            <a id="meeting" href="/meeting">菜单3</a>
                        </li>
                        <li>
                            <a id="meeting" href="/meeting">菜单4</a>
                        </li>
                    </ul>
                </div>
            </div> -->
            <!-- <div style="top:86px;margin-left:8px;width:99%" class="col-sm-10"> -->
            <!-- <div style="left:14%;top:86px;margin-left:8px;" class="col-sm-10"> -->
                <!-- <div class="backWhite" style="min-height: 564.2px;"> -->
                <!-- <div class="backWhite">    -->
                    <!-- <div class="panel panel50">
                        <button class="btn btn-primary" onclick="forward(&#39;c689339c-e87c-4f57-8b19-4f5f7fc3426a&#39;)">
                            <span> 新建</span>
                        </button>
                    </div>
                    <table role="tabpanel" id="tableToFilter" class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width:5%">选择</th>
                                <th style="width:15%">协议编号</th>
                                <th style="width:10%">保密级别</th>
                                <th style="width:10%">乙方名称</th>
                                <th style="width:10%">订购数量</th>
                                <th style="width:20%">订购日期</th>
                                <th style="width:30%"></th>
                            </tr>
                        </thead>
                        <tbody id="meetingsTbody">
                        </tbody>
                    </table>
                    <nav style="font-size:13px;text-align:right;">
                        <ul style="margin-right:25px;color:#99a2aa;display:inline" class="pagination">
                            <li>
                                <a onclick="page.firstPage();" style="float:none;">首 页</a>
                            </li>
                            <li>
                                <a onclick="page.prePage();" style="float:none;">上一页</a>
                            </li>
                            <li>
                                <a onclick="page.nextPage();" style="float:none;">下一页</a>
                            </li>
                            <li>
                                <a onclick="page.lastPage();" style="float:none;">末 页</a>
                            </li>
                        </ul>
                        <ul style="color:#99a2aa;display:inline" class="pagination">
                            <span id="divFood">
                                <divfood display="" float="left">第1页/共4页</divfood>
                            </span>
                            <input id="pageno" class="form-control">
                            <li style="margin-right:20px;">
                                <a onclick="page.aimPage();" style="float:none;border-radius:4px;">GO</a>
                            </li>
                        </ul>
                    </nav> -->
                    <!--nav-->
                    <!--   ul.pagination.pull-right-->
                    <!--      li-->
                    <!--         a(href='#', aria-label='Previous')-->
                    <!--            span(aria-hidden='true') «-->
                    <!--      li-->
                    <!--         a(href='#') 1-->
                    <!--      li-->
                    <!--         a(href='#') 2-->
                    <!--      li-->
                    <!--         a(href='#') 3-->
                    <!--      li-->
                    <!--         a(href='#') 4-->
                    <!--      li-->
                    <!--         a(href='#') 5-->
                    <!--      li-->
                    <!--         a(href='#', aria-label='Next')-->
                    <!--            span(aria-hidden='true') »-->
                <!-- </div>
            </div> -->
            <!--div.row-->
            <!--  div.nav.navbar.navbar-default.navbar-fixed-bottom.footer Copyright 上海金桥信息股份有限公司 2010 沪ICP备09095147号-->
            <!-- <div class="row">
                <div>
                    <nav class="navbar navbar-default navbar-fixed-bottom footer">
                        Copyright 上海金桥信息股份有限公司 2010 沪ICP备09095147号
                    </nav>
                </div>
            </div> -->
        </div>
    </div>
</body>

</html>