<!DOCTYPE html>
<html>
<div>
        express
</div>
<!-- <head> -->
    <!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>签章管理系统</title>
    <link rel="stylesheet" href="../public/stylesheets/jquery-ui.min.css"/>
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="../public/stylesheets/style.css"/>
    <link rel="stylesheet" href="../public/stylesheets/menu.css"/>
    <link rel="stylesheet" href="../public/stylesheets/login.css"/>
    <script type="text/javascript" src="../public/javascripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../public/javascripts/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="../public/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../public/javascripts/underscore-min.js"></script>
    <script type="text/javascript" src="../public/javascripts/common.js"></script>
    <script type="text/javascript">
        function login(){
            window.location.href="index.ejs";
        }
    </script>
</head>

<body>
    <div>
        <div class="logobg logo">
            <span style='font-size:35px;color:white;margin:5px 0 0 10px;'>GBMANAGEMENT</span> 
            <span style="font-size:20px;color:white;">管理系统</span>
        </div>
    </div>
    <div class="login col-sm-offset-4 col-sm-4">
        <div class="title"><b>登 录</b></div>
        <form method="post" class="form">
            <div style="padding: 30px 0px 10px 0px;position: relative;" class="form-group"><input id="name" type="text" placeholder="用户名" name="name" class="ipt"></div>
            <div style="position: relative;" class="form-group"><input id="password" type="password" placeholder="******" name="password" class="ipt"></div>
            <input type="button" value="登  录" class="load btn btn-primary" onclick="login()">
            </form>
    </div>
    <div>
        <div class="nav navbar navbar-default navbar-fixed-bottom footer">© 上海金桥信息股份有限公司 提供技术支持</div>
    </div>
</body> -->

</html>