<td><input type="checkbox" /></td>
<td>{{sigNo}}</td>
<td>{{secGrade}}</td>
<td>{{yName}}</td>
<td>{{buyNumber}}</td>
<td>{{buyDate}}</td>
<td><button onclick="forward(&#39;/meeting/detail?id=c689339c-e87c-4f57-8b19-4f5f7fc3426a&#39;)"
    class="btn btn-sm btn-primary">签名印章</button><button onclick="forward(&#39;c689339c-e87c-4f57-8b19-4f5f7fc3426a&#39;)"
    class="btn btn-sm btn-primary">查看</button><button onclick="forward(&#39;/comment/detail/dec12980-356c-4606-8044-0a3221223e08&#39;)"
    class="btn btn-sm btn-primary">修改</button><button onclick="forward(&#39;c689339c-e87c-4f57-8b19-4f5f7fc3426a&#39;)"                                        
    class="btn btn-sm btn-danger">删除</button></td>