<td><input type="checkbox" /></td>
<td>{{firstName}}</td>
<td>{{lastName}}</td>
<td>{{age}}</td>
<td>{{grade}}</td>
<td>{{regDate}}</td>
<td>
    <button class="btn btn-sm btn-primary">查看</button>
    <button class="btn btn-sm btn-primary">修改</button>
    <button class="btn btn-sm btn-danger deleteUser">删除</button>
</td>